/*  By Chris Churchill and Matt Audas */

.large {
  width: 150px;
}

.normal {
  width: 36px;
}

.pig {
  width: 102px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(92px);
  -ms-transform: translateX(92px);
  transform: translateX(92px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Devin's Edits */

/* Disabled slider */
input:disabled + .slider {
  pointer-events: none;
  opacity: 0.3;
}

/* Table Padding */
th,
td {
  padding-bottom: 5px;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
}

/* body {
  background-color: #053b06;
} */

table#bigBoy {
  width: 90%;
  margin-left: 5%;
  background-color: #32324e;
  border-radius: 24px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #000022;
}

.keyboardMenu {
  /*  = opacity */
  background-color: rgba(31, 31, 31, 0.5);
}

.keyboardButton {
  transition: transform 0.2s;
}

.keyboardNormalBtn {
  border-radius: 8px;
  height: 60px;
  width: 50px;
}

.keyboardWideBtn {
  height: 60px;
  width: 119px;
}

.keyboardButton:hover {
  transform: scale(2);
}

.navbar {
  background-color: #c10000;
}
