<!DOCTYPE html>
<html>
  <head>

    <title>Michael's Blog</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        Nothing
    </body>

    <!-- Adding a css file is a hassle, so im doing this  -->
    <style>
        body {
            background-color: aqua;
        }
        pre {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</html>